.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.div-container {
  background-color: #443c77;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-div {
  border-radius: 10px;

  background-color: #241a63;
  padding: 10px;
  font-size: 18px;
}

/* .user-div ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
  font-size: 25px;
  margin: 3%;
}

.user-div ul li {
  margin: 4px;
  background-color: #0c072c;
  border-radius: 3px;
  padding: 9px;
} */

/* .card-header {
  background-color: #3fb692;
  width: 20vw;
  padding: 8px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
  color: rgb(233, 254, 255);
  font-size: 18px;
} */
.card-header {
  background-color: #3fb692;
  border: 2px solid #a4ebe2;
  border-radius: 15px 15px 0 0;
  width: 20vw;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 16px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-bottom: 15px;
}
.card-header:hover {
  background-color: #a98be8;
}
.card-header:active {
  position: relative;
  top: 1px;
}

.avatar {
  border: 3px solid rgb(100, 13, 241);
  margin: 10%;
  border-radius: 50%;
  width: 10vw;
  height: 18vh;
}

.show-card {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #c7bdff 5%, #bcaaf7 100%);
  background-color: #c7bdff;
  border-radius: 4px;
  border: 2px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 18px;
  padding: 9px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.show-card:hover {
  background: linear-gradient(to bottom, #bcaaf7 5%, #c7bdff 100%);
  background-color: #bcaaf7;
}
.show-card:active {
  position: relative;
  top: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
